<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.makersoft.shards.mapper.UserMapper">
	
	<select id="getById" parameterType="string" resultType="org.makersoft.shards.domain.User">
		SELECT * FROM maker_shards_user WHERE id = #{id}
	</select>
	
	<select id="findAll" resultType="org.makersoft.shards.domain.User">
		SELECT * FROM ${prefix}maker_shards_user${suffix}
	</select>
	
	<select id="findByGender" resultType="org.makersoft.shards.domain.User">
		SELECT * FROM ${prefix}maker_shards_user${suffix} where gender=#{gender};
	</select>
	
	<select id="getAllCount" resultType="int">
		SELECT count(*) FROM ${prefix}maker_shards_user${suffix}
	</select>

	<insert id="insertUser" parameterType="org.makersoft.shards.domain.User">
		INSERT INTO ${prefix}maker_shards_user${suffix} 
			(id, username, password, age, gender) 
		VALUES
			(#{id}, #{username}, #{password}, #{age}, #{gender})
	</insert>
	
	<delete id="deleteAll">
		DELETE FROM ${prefix}maker_shards_user${suffix}
	</delete>
	
	<delete id="deleteById">
		DELETE FROM ${prefix}maker_shards_user${suffix} where id = #{id}
	</delete>
	
	<update id="udpateUser" parameterType="org.makersoft.shards.domain.User">
		UPDATE ${prefix}maker_shards_user${suffix} SET
		password = #{password}
	</update>

	<update id="updateById" parameterType="org.makersoft.shards.domain.User">
		UPDATE ${prefix}maker_shards_user${suffix} SET
		username = #{username},
		password = #{password}
		WHERE id = #{id}
	</update>
	
</mapper>